        </div>
    <!--/.fluid-container-->
		<hr>
 
    <div id="footer">
      <div class="container">
            <p style="text-align:center">Copyright (c) Daum Communications. All rights reserved.</p>
        </div>
    </div>
 
    
 
</body>
</html>
